*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

/* Header section style start */


.header-container{
    height: 100vh;
    display: flex;
    background-color: #E554731A;/
}

.header-contain{
    justify-content: center;
    align-items: center;
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;

}
.header-img{
    width: 300px;
    margin-top: 123px;
}
.header-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    padding: 10px 20px;
    margin-top: 20px;
}

/* Main section title start */

.flower-buy-section{
    height: 150vh;
}
.first-section-contain{
    text-align: center;
    margin-top: 130px;
}
.section-title{
    color: #272727;
    font-size: 40px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

/* main section flowers buy section */

.section-images-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

.box-1{
    height: 350px;
    width: 250px;
    box-shadow: 4px 4px 8px rgb(201, 201, 201);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding: 30px;
    background: #A7216226;
}
.box-2{
    height: 350px;
    width: 250px;
    box-shadow: 4px 4px 8px rgb(201, 201, 201);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding: 30px;
    background: #0597A026;
}
.box-3{
    height: 350px;
    width: 250px;
    box-shadow: 4px 4px 8px rgb(201, 201, 201);
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding: 30px;
    background: #477D1126;
}

.flower-icon{
    width: 200px;
    margin-top: 105px;
}
.icon2{
    margin-top: 80px;
}

.flower-name{
    color: #272727;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 24px;
    text-decoration-line: underline;
    margin-top: 20px;
}

/* Middle section start */

.middle-section-main{
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;
    margin: 200px 0px;
}
.middle-section{
    display: flex;
    width: 100%;
    background-color: #E554730D;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;

}
.offer-color{
    color: #E55473;
}
.middle-section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* last section start */
.last-section{
    height: 100vh;
}
.last-section-contain{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.flower-image{
    width: 200px;
    margin-top: 50px;
    box-shadow: 4px 4px 8px rgb(201, 201, 201);
    border-radius: 2px;
}

/* last section footer */

.input-type{
    padding: 10px 150px 10px 10px;
    border: 0px;
    border-radius: 5px;
}
.background{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
.input-container{
    width: 185vh;
    display: flex;

    background-image: url('Flower Asset/Rectangle 9.png');
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px 10px 30px 10px;
    margin: 60px 0px 0px 40px;
    border-radius: 5px;
}

/* Footer section start */

.footer-contain{
    text-align: center;
    background-color: #111010;
    padding: 50px 0px;
    margin-top: 100px;
}
.copyright-description{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    margin-top: 30px;
}
.section-description-footer{
    color: #FFFFFFE5;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
}
.footer-section-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}